div(class="groups module")
    div(class="groups-inner")
        div(class="flex-module trends-container")
            div(class="flex-module-header")
                h3
                    span(class="groups-location")
                        |Available Books
            div(class="flex-module-inner")
                div(class="friends-items")
                    - var ownedBooks = availableBooks.ownedBooks
                    - var n = ownedBooks.length
                    - var i = 0;
                    - if(n > 0) {
                    div(class="friends-items", id="group-items-dashboard")
                        div(class="row clearfix")       
                            - while(i < n){
                                - var book = ownedBooks[i]
                                - if(i > 0 && i%3 == 0) {
                                    div(class="row clearfix")
                                - }
                                    div(class="col-md-4 column")
                                        - var imageUrl =  book.imageUrl == null ? "/images/book.png" : book.imageUrl
                                        img(class="Dashboard-user-image", src="#{imageUrl}")
                                - i++
                            - }
                            - }