div(class="Grid-cell u-mb10")
    div(class="js-stream-item")
        div(class="ProfileCard js-actionable-user")
            a(class="ProfileCard-bg js-nav", href="#")
            div(class="ProfileCard-content")
                div(class="row clearfix")
                    div(class="column col-md-4")
                        a(class="ProfileCard-avatarLink js-nav js-tooltip", href="/users/#{group_member.id}")
                            img(class="ProfileCard-avatarImage js-action-profile-avatar", src="#{group_member.profileImageUrl}", style="width:100px; height:100px;")
                    
                div(class="ProfileCard-userFields")
                    div(class="ProfileNameTruncated")
                        div(class="u-textTruncate u-inlineBlock")
                            a(class="ProfileNameTruncated-link u-textInheritColor", href="/users/#{group_member.id}") #{group_member.name}
