div(class="Grid-cell u-mb10")
    div(class="js-stream-item")
        div(class="ProfileCard js-actionable-user")
            a(class="ProfileCard-bg js-nav", href="#")
            div(class="ProfileCard-content")
                a(class="ProfileCard-avatarLink js-nav js-tooltip", href="/groups/#{temp_group.id}")
                    img(class="nav-icon", src="/images/notification.png", style="width:100px; height:100px")