div(class="ProfileCanopy-navBar")
        div(class="AppContainer")
            div(class="ProfileCanopy-nav")
                div(class="ProfileNav", role="navigation")
                    ul(class="nav nav-tabs")
                        li(class="ProfileNav-item ProfileNav-item--tweets is-active")
                            a(class="ProfileNav-stat ProfileNav-stat--link u-textCenter js-tooltip js-nav", href="/groups/#{group.id}?action=available")
                                span(class="ProfileNav-label") Available
                        li(class="ProfileNav-item ProfileNav-item--tweets")
                            a(class="ProfileNav-stat ProfileNav-stat--link u-textCenter js-tooltip js-nav", href="/groups/#{group.id}?action=wishlist")
                                span(class="ProfileNav-label") Looking for
                        li(class="ProfileNav-item ProfileNav-item--tweets")
                            a(class="ProfileNav-stat ProfileNav-stat--link u-textCenter js-tooltip js-nav", href="/groups/#{group.id}?action=members")
                                span(class="ProfileNav-label") Members