div(class="ProfileCanopy ProfileCanopy--withNav ProfileCanopy--large")
    div(class="ProfileCanopy-header u-bgUserColor")
        div(class="ProfileCanopy-headerBg")
        div(class="AppContainer")
            div(class="ProfileCanopy-avatar")
                div(class="ProfileAvatar")
                    img(class="ProfileAvatar-image", src="https://cdn4.iconfinder.com/data/icons/free-3d-social-icons/png/512x512/MySpace.png")
            div(class="ProfileCanopy-username")
                h2 #{group.name}
    include ./profile_nav_bar
div(class="AppContainer clearfix margin80px")
    div(class="AppContent-main u-cf ", role="main")
        div(class="row clearfix")
            div(class="col-md-3 column")

            div(class="col-md-8 column")      
                - if(action === "available") {
                include ./show_available_books
                - } else if(action === "wishlist") {
                include ./show_look_for_books
                - } else if(action === "members") {
                include ./add_members
                include ./show_members
                - }