div(class="DashboardProfileCard module")
    div(class="DashboardProfileCard-content")
        div(class="DashboardProfileCard-avatar")
            a(class="DashboardProfileCard-avatarLink u-inlineBlock", href="#", title="UserName")
                img(class="DashboardProfileCard-avatarImage js-action-profile-avatar", src="#{user.profileImageUrl}")
        div(class="DashboardProfileCard-userFields")
            div(class="DashboardProfileCard-name u-textTruncate")
                a(href="#", class="u-textInheritColor")
                    |#{user.name}

        div(class="DashboardProfileCard-stats")
            ul(class="DashboardProfileCard-statList Arrange Arrange--bottom Arrange--equal")
                li(class="DashboardProfileCard-stat Arrange-sizeFit")
                    a(class="DashboardProfileCard-statLink u-textUserColor u-linkClean u-block", href="#", data-element-term="follower_stats")
                        span(class="DashboardProfileCard-statLabel u-block")
                            |Followers
                        span(class="DashboardProfileCard-statValue")
                            |35
                li(class="DashboardProfileCard-stat Arrange-sizeFit")
                    a(class="DashboardProfileCard-statLink u-textUserColor u-linkClean u-block", href="#", data-element-term="following_stats")
                        span(class="DashboardProfileCard-statLabel u-block")
                            |Following
                        span(class="DashboardProfileCard-statValue")
                            |34

div(class="DashboardProfileCard module sidebar")
    ul(class="nav nav-stacked nav-pills nav-sidebar")
        li(class="active")
            a(href="/")
                |Home
        li
            a(href="/profile")
                |Profile
        li
            a(href="#")
                |Reminders
        li
            a(href="#")
                |My books
        li
            a(href="#")
                |My borrowed books
