div(class="feed-items")
    - const count = feed.size
    - for(var i =0; i < count; i++) {
        - var feedItem = feed.userEvent[i];
        - console.log("redering feedItem --- > " + JSON.stringify(feedItem))
        include ./feed_item
    -}