div(class="slide-out-div")
        a(class="handle", href="http://link-for-non-js-users") Content
        h3 Contact me
        a(href="mailto:wpaoli@gmail.com") wpaoli@gmail.com
        br
        br    
        p Thanks for checking out my jQuery plugin, I hope you find this useful.
        p This can be a form to submit feedback, or contact info