div(class="modal fade bs-goodreads-modal-lg", id="goodreadsimportmodal", tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
    div(class="modal-dialog modal-lg")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true")
                        |×
                h4(class="modal-title" id="myLargeModalLabel")
                    |Import data from Good reads!!</h4>
                div(class="modal-body")
                    |Do you want to import from good reads?
                div(class="modal-footer")
                    button(class="btn", data-dismiss="modal", aria-hidden="true")
                        |Cancel
                    button(class="btn btn-primary", id="grim-modalbtnrmdLater")
                        |Remind me later
                    button(class="btn btn-primary", id="grimportmodalbtnYes")
                        |Import