head
    title BookForBorrow

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/tabs.css')
    link(rel='stylesheet', href='/stylesheets/tabstyles.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/twitter.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.toastmessage.css')

    script(src='/libs/angular/angular.min.js')
    script(src='/libs/angular-route/angular-route.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script(src='/js/jquery-gmaps-latlon-picker.js')
    script(src='/js/cbpFWTabs.js')
    script(src='/js/jquery.toastmessage.js')
    script(src='/js/modernizr.custom.js')    
    script(src='/js/jquery.tabSlideOut.v1.3.js')    
