ul(class="nav nav-stacked nav-pills", contenteditable="true")
    li(class="active")
        a(href="#")
            |Home
    li
        a(href="#")
            |Profile
    
    li(class="disabled")
        a(href="#")
            |Messages