a(href="#{notification_item.target.url}")
    li(class="notification-item center")
        div(class="notification")
            strong #{notification_item.target.displayString}
            | #{notification_item.actionString}