div(class="modal fade bs-pending-friends-modal-lg", id="pending-friends-modal", tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
    div(class="modal-dialog modal-lg")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true")
                        |×
                h4(class="modal-title" id="myLargeModalLabel")
                    |Add new group
                div(class="modal-body")
                    div(id="pending-friends-list")
                        p Loading ... please wait