div(id="recommended-sections")
    div(class="recommended-sections-container", data-li-template="recommended_sections")
        p(div="recommended-sections-headline")
            em
                |Add a section to your profile
            | – get better recomendations for you best reads
        
        div(id="background", class="profile-background my-profile")
            div(id="background-additional-info-container", class="section-container background-section  draggable li-ig-profile", data-li-template="education_section")
                div(id="background-additional-info", class="section background-education", tabindex="0")
                    h3(class="header")
                        |Personal Info
                    ol(class="no-list")
                        li(id="personal-info", class="inner-section entity section-item editable-item")
                            h4(class="main-header-field")
                                |Contact Details
                            table
                                tbody
                                    tr
                                        th(class="personal-header", scope="row")
                                            |Ph. no
                                        td(class="field")
                                            span(class="field-text")
                                                |9535890448
                                    tr
                                        th(class="personal-header", scope="row")
                                            |email
                                        td(class="field")
                                            span(class="field-text")
                                                |shiva.n404@gmail.com
