div(class="modal fade bs-book-wishlist-rec-lg", id="book-wishlist-rec-#{book.id}", tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
    div(class="modal-dialog modal-md")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true")
                        |×
                h3(class="modal-title" id="myLargeModalLabel")
                    strong  #{book.name}
            div(class="modal-body")
                div(class="borrow-recs")
                    - var users = null
                    - if(rec_action==="wish" && book.wishlistBookDetails.users){
                        users = book.wishlistBookDetails.users
                    - } else if(rec_action==="owns" && book.ownedBookDetails.lookingForUsers){
                        users = book.ownedBookDetails.lookingForUsers
                    - }
                    -if(users){
                    div(class="borrow-recs-friends")
                        h3 friends
                        div(class="row clearfix")
                            div(class="col-md-12 column")
                                div(id="users", class="box-border")
                                    div(class="users-list")
                                        div(class="row clearfix")
                                            - var n = users.length
                                            - var i = 0
                                            - while(i < n){
                                            - var user_unit = users[i]
                                            - if(i > 0 && i%2 == 0) {
                                            div(class="row clearfix")
                                            - }
                                            div(class="col-md-6 column")
                                                -if(rec_action==="wish"){
                                                include ../user_unit_borrow_action
                                                - } else if(rec_action==="owns"){
                                                include ../actions/message_to_borrow
                                                - }
                                            - i++
                                            - }
                    -}
                    - var groupsWithMembers = null
                    - if(rec_action==="wish" && book.wishlistBookDetails.groupsWithMembers){
                        groupsWithMembers = book.wishlistBookDetails.groupsWithMembers
                    - } else if(rec_action==="owns" && book.ownedBookDetails.groupsWithMembers){
                        groupsWithMembers = book.ownedBookDetails.groupsWithMembers
                    - }
                    - if(groupsWithMembers){                     
                    div(class="borrow-recs-Groups")
                        h3 Groups
                        - var groupsWithMembers = book.wishlistBookDetails.groupsWithMembers
                        - var groupsCount = book.wishlistBookDetails.groupsWithMembers.length
                        - var j = 0
                        - while(j < groupsCount) {
                            - console.log("groupsCount --- > " + groupsCount + "--->" + j)
                            - var groupWithMembers = groupsWithMembers[j];
                            div(class="group-name")
                                strong #{groupWithMembers.group.name}
                            div(class="row clearfix")
                                    div(class="col-md-12 column")
                                        div(id="users", class="box-border")
                                            div(class="users-list")
                                                div(class="row clearfix")
                                                    - var n = groupWithMembers.groupMembers.length
                                                    - var i = 0
                                                    - while(i < n){
                                                    - var user_unit = groupWithMembers.groupMembers[i]
                                                    - if(i > 0 && i%2 == 0) {
                                                        div(class="row clearfix")
                                                    - }
                                                    div(class="col-md-6 column")
                                                        -if(rec_action==="wish"){
                                                        include ../user_unit_borrow_action
                                                        - } else if(rec_action==="owns"){
                                                        include ../actions/message_to_borrow
                                                        - }
                                                    - i++
                                                    - }
                            - j++;
                        - }
                    - }    



            div(class="modal-footer")
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true")
                        |Close