extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        div(class="row clearfix")
            div(class="dashboard dashboard-left")
                include includes/dashboard
                include ./includes/dashboard_groups_list
            div(class="content-main")
                include ./includes/goodreads_import
                include ./includes/add_group_modal
                - console.log(checkGoodreads + "authStatus =" + user.goodreadsAuthStatus);
                - if(checkGoodreads && ((user.goodreadsAuthStatus === "NONE") || (user.goodreadsAuthStatus === "YES"))) {
                    script
                        $('#goodreadsimportmodal').modal('show');
                -}
                div(class="feed")
                    include ./includes/feed_timeline.jade
            div(class="dashboard dashboard-right")
                button(type="button", class="btn btn-primary", data-toggle="modal", data-target=".bs-goodreads-modal-lg")
                    |Import from good reads