extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        div(class="row clearfix")
            div(class="dashboard dashboard-left")
                include includes/dashboard
                include ./includes/dashboard_groups_list
            div(class="content-main")
                include ./includes/goodreads_import
                include ./includes/add_group_modal
                - if(checkGoodreads && ((user.goodreadsAuthStatus === "NONE") || (user.goodreadsAuthStatus === "YES"))) {
                    script
                        $('#goodreadsimportmodal').modal('show');
                -}
                - if(feed && feed.events.length > 0) {
                    div(class="feed")
                    include ./includes/feed_timeline
                -} else {
                    h3 Make new friends and see what they are reading
                    include ./user/random_users_display
                     - }
            div(class="dashboard dashboard-right")
                - if(friendsRec.size>0){
                    include ./includes/new_friends_rec
                - }
                -if(wishlistBooks.size > 0) {
                    include ./includes/wishlist_rec
                - }
                br
                button(type="button", class="btn btn-primary", data-toggle="modal", data-target=".bs-goodreads-modal-lg")
                    | Import from good reads