extends layout
block content
    div(class="container")
        div(class="row clearfix")
            div(class="col-md-12 column")
                div(class="row clearfix")
                    div(class="col-md-6 column")
                        div(class="jumbotron")
                            h1
                                |Oh Snap!! Error occured please try again!!