extends layout
block content
    div(class="container")
        div(class="row clearfix")
            div(class="col-md-12 column home-content")
                div(class="row clearfix")
                    div(class="col-md-6 column")
                        div(class="jumbotron")
                            h1
                                |Book4Borrow
                            p
                                |Book For Borrow will connect with fellow interested readers.

                    div(class="col-md-6 column")
                        div(class="jumbotron")
                            div(class="row clearfix")
                                div(class="column col-md-12")
                                    a(href="/auth/google", id='fb_login_btn')
                                        button(class="btn btn-google-plus btn-lg")
                                            i(class="fa fa-google-plus")
                                            | | Connect with Google
                                div(class="column col-md-12")
                                    div(role="separator" class="divider")
                                div(class="column col-md-12")
                                    a(href="/auth/facebook")
                                        button(class="btn btn-lg btn-facebook")
                                            i(class="fa fa-facebook")
                                            | | Connect with Facebook