extends layout
block content
    div(class="container")
        div(class="row clearfix")
            div(class="col-md-12 column")
                div(class="row clearfix")
                    div(class="col-md-6 column")
                        div(class="jumbotron")
                            h1
                                |Book4Borrow
                            p
                                |Book For Borrow will connect with fellow interested readers.

                    div(class="col-md-6 column")
                        div(class="jumbotron")
                            a(href="/auth/google", id='fb_login_btn')
                                img(src='/images/sign-in-with-google.png')
                            a(href="/auth/facebook", id='fb_login_btn') 
                                img(src='/images/fb_login_2x-lrg.png')       
