extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        div(class="row clearfix")
            div(class="dashboard dashboard-left")
                include includes/dashboard
            div(class="content-main")
                section
                    div(class="tabs tabs-style-topline")
                        nav
                            ul
                                li(class="tab-current")
                                    a(href="#my-books-tab-read-content", id="my-books-tab-read", class="icon icon-home")
                                        span Read Books(32)
                                li(class="")
                                    a(href="#my-books-tab-owned-content", id="my-books-tab-owned", class="icon icon-gift")
                                        span Owned(12)
                                li(class="")
                                    a(href="#my-books-tab-borrowed-content", id="my-books-tab-borrowed", class="icon icon-upload")
                                        span Borrowed(2)
                                li
                                    a(href="#my-books-tab-wishlist-content", id="my-books-tab-wishlist", class="icon icon-coffee")
                                        span Wishlist(10)
                                li
                                    a(href="#my-books-tab-lent-content", id="my-books-tab-lent", class="icon icon-config")
                                        span Lent(7)

                        div(class="content-wrap")
                            section(id="my-books-tab-read-content", class="")
                                div(id="my-books-tab-read-content-div")
                                    include ./user/my_books
                            section(id="my-books-tab-owned-content", class="")
                                div(id="my-books-tab-owned-content-div")
                                    img(src="/images/loading-x.gif")
                            section(id="my-books-tab-borrowed-content", class="")
                                div(id="my-books-tab-borrowed-content-div")
                                    img(src="/images/loading-x.gif")
                            section(id="my-books-tab-wishlist-content", class="")
                                div(id="my-books-tab-wishlist-content-div")
                                    img(src="/images/loading-x.gif")
                            section(id="my-books-tab-lent-content", class="")
                                div(id="my-books-tab-lent-content-div")
                                    img(src="/images/loading-x.gif")
                        script
                            include ./tab.js
