extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        div(class="row clearfix")
            div(class="dashboard dashboard-left")
                include includes/dashboard
            div(class="content-main")
                include ./user/my_wishlist_books