extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        include ./includes/search_text_bar
        div(class="row clearfix")
            div(class="col-md-3 column")
                include includes/dashboard
            div(class="col-md-9 column")
                div(id="search-result")
                    include ./book/search_result_book
