extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        include ./includes/search_text_bar
        div(class="row clearfix")
            div(class="dashboard dashboard-left")
                include includes/dashboard
            div(class="content-main")
                div(id="my-books", class="box-border")
                    div(class="row books-list")
                        div(class="row clearfix")
                            div(class="col-md-12 column")
                                - var n = books.length
                                - var i = 0
                                - while(i < n){
                                - var book = books[i]
                                    include ./book/search_result_book
                                -i++
                                - }
            div(class="dashboard dashboard-right")
