extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        div(class="row clearfix")
            div(class="dashboard dashboard-left")
                include includes/dashboard
            div(class="content-main")
                button(type="button", class="btn btn-primary", data-toggle="modal", data-target=".bs-goodreads-modal-lg")
                    |Import from good reads                  `  1
                include ./includes/goodreads_import
            div(class="dashboard dashboard-right")