extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        div(class="book-main-content")
            div(class="book-details")
                div(class="row clearfix")
                    div(class="col-md-4 column")
                        div(class="book-profile")
                            div(class="ProfileAvatar book-main-profile-image center")
                                - var imageUrl = book.imageUrl == null ? "/images/book.png" : book.imageUrl 
                                img(src="#{imageUrl}", class="ProfileAvatar-image")
                    div(class="col-md-8 column")
                        div(class="row clearfix")
                            div(class="col-md-12 column")
                                div(class="book-profile-name")
                                    h1 #{book.name}
                            div(class="col-md-12 column")
                                h3 - #{book.authorName}
                            div(class="divider")
                            div(class="col-md-12 column")
                                div(class="book-actions")
                                    div(class="row clearfix")
                                        div(class="col-md-6 column")
                                            div(class="col-md-12 column")
                                                button(class="btn btn-primary action-btn") Add to Wishlist
                                            div(class="col-md-12 column")    
                                                button(class="btn btn-primary action-btn", style="margin-top:20px;") Add as Read


                            div(class="col-md-6 column")
                                - if(book.bookType && (book.bookType === "WISH")) {
                                include ./includes/fb_page_rec
                                    - if(book.additionalProperties != null && book.additionalProperties.recommendations.length > 0) {
                                        - var grRecommendations = book.additionalProperties.recommendations
                                        - console.log(JSON.stringify(grRecommendations) + "of length" + grRecommendations.length)
                                        - var n = grRecommendations.length - 1;
                                        - if(n >= 0) {
                                            include ./book/book_rec
                                        - }
                                    - }
                                -}
                div(class="row clearfix")
                    div(class="col-md-12 column")
                        p #{book.description}

                        
                