div(id="address-info-add", class="profile-blank-form")
    h3 Add address
    div(class="profile-blank-form-clone")
        form(class="standard-form stacked", name="editPersonalInfoForm", method="POST", action="/api/address", role="form")
            |Address type
            select(class="form-control", name="address[addressType]")
                option
                    |Home
                option
                    |Work
                option
                    |Hangout
            fieldset(class="gllpLatlonPicker")
                input(type="text", class="gllpSearchField", name="address[landmark]")
                input(type="button", class="gllpSearchButton", value="search")
                br
                div(class="gllpMap")
                    | Google Maps
                input(type="text", class="gllpLatitude", value="12.97463381854107", name="address[latitude]", style="display:none;")
                input(type="text", class="gllpLongitude", value="77.59234657922366", name="address[longitude]", style="display:none;")
                input(type="text", class="gllpZoom", value="13", style="display:none")
                input(type="button", class="gllpUpdateButton", value="update map", style="display:none")
            button(type="submit", class="btn btn-default")
                |Add
            button(type="button", id="address-info-add-cancel-button" + index, class="btn btn-default")
                |Cancel
            script
                $("#address-info-add-cancel-button").click(function(){});
                $("#address-info-add-search-button").onfocus();