div(id="my-books", class="box-border")
    header(class="my-books-header")
        nav(id="my-books-navigation")
            ul(id="my-books-search")
                div(class="input-group")
                    input(type="text", class="form-control", placeholder="Search for...")
                    span(class="input-group-btn")
                        button(class="btn btn-default", type="button") 
                            |Search
    div(class="row books-list")
        div(class="col-md-12 column")
            div(class="row clearfix")
                div(class="engagement-card engagement-sync-promo")
                    div(class="col-md-12 column")
                        li(class="")
                            section(class="type-a")
                                h3 Want to get more of these?
            - var n = books.length
            - var i = 0
            - while(n > 0){
                - i = 0
                div(class="row")
                    - while(i < 2){
                        - i = i+1
                        - n = n-1
                        - if(n >= 0) {
                            - var book = books[n]
                            div(class="list-unit")
                                div(class="row clearfix")
                                    div(class="col-md-3 lu-image-wrapper")
                                        div(class="lu-image")
                                            a(href="#")
                                                img(src="#{book.imageUrl}")
                                    div(class="col-md-9")
                                        div(class="row clearfix")
                                            div(class="col-md-12")
                                                div(class="book-name")
                                                    a(href="#")
                                                        h3 #{book.name}
                                        div(class="row clearfix")
                                            div(class="col-md-6")
                                                div
                                                    |Author - #{book.authorName}
                        - }
                    - }
            - }
            
        
        