extends ../layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ../includes/navbar.jade
        div(class="row clearfix")
            div(id="profile")
                div(id="top-card", data-li-template="top_card")
                    div(class="profile-top-card top-card", tabindex="-1")
                        div(class="profile-card vcard entity", tabindex="0")
                            div(class="profile-picture")
                                img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xft1/v/t1.0-1/c58.0.200.200/p200x200/10174852_10203065988805647_1198654971551889226_n.jpg?oh=029c09b259b39d4be20bcdacc5755fdc&oe=55AE8FF2&__gda__=1436999408_b20c83fc6388b3b39c12bf20a86bb0af")
                            div(class="profile-overview")
                                div(class="profile-overview-content masthead")
                                    div(class="account-icons")
                                        div(id="badge-container" data-li-template="badge")
                                            div(id="badge" class="editable-item")
                                    div(data-li-template="p2_basic_info")
                                        div(id="name-container", data-li-template="name")
                                            div(id="name", class="editable-item")
                                                h1(class="field")
                                                    button(class="edit-field edit-field-button")
                                                        span(class="ally-text")
                                                            | Edit name
                                                        i(class="edit-field-icon")
                                                    span(class="n fn field-text")
                                                        span(class="full-name")
                                                            | Shiva Kumar
                                        div(id="headline-container", data-li-template="headline")
                                            div(id="headline", class="editable-item")
                                                div(class="field")
                                                    button(class="edit-field edit-field-button")
                                                        span(class="ally-text")
                                                            | Edit headline
                                                        i(class="edit-field-icon")
                                                    p(class="title field-text")
                                                        | Software Engineer at Intuit
                                        div(id="location-container", data-li-template="location")
                                            div(id="location", class="editable-item")
                                                div(class="field")
                                                    button(class="edit-field edit-field-button")
                                                        span(class="ally-text")
                                                            | Edit location
                                                        i(class="edit-field-icon")
                                                    p(class="title field-text")
                                                        | Home: #5, 2nd Main, Hulimavu, Bangalore - 560068
                                        div(id="location-container", data-li-template="location")
                                            div(id="location", class="editable-item")
                                                div(class="field")
                                                    button(class="edit-field edit-field-button")
                                                        span(class="ally-text")
                                                            | Edit location
                                                        i(class="edit-field-icon")
                                                    p(class="title field-text")
                                                        | Work: Intuit, Building #8, Bellandur, Bangalore - 560103
                include ../includes/profile_rec