extends ../layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ../includes/navbar.jade
        div(class="row clearfix")
            div(id="profile")
                div(id="top-card", data-li-template="top_card")
                    div(class="profile-top-card top-card", tabindex="-1")
                        div(class="profile-card vcard entity", tabindex="0")
                            div(class="profile-picture")
                                img(src="#{user.profileImageUrl}")
                            div(class="profile-overview")
                                div(class="profile-overview-content masthead")
                                    div(class="account-icons")
                                        div(id="badge-container" data-li-template="badge")
                                            div(id="badge" class="editable-item")
                                    div(data-li-template="p2_basic_info")
                                        div(id="name-container", data-li-template="name")
                                            div(id="name", class="editable-item")
                                                h1(class="field")
                                                    button(class="edit-field edit-field-button")
                                                        span(class="ally-text")
                                                            | Edit name
                                                        i(class="edit-field-icon")
                                                    span(class="n fn field-text")
                                                        span(class="full-name")
                                                            | #{user.name}
                                        div(id="headline-container", data-li-template="headline")
                                            div(id="headline", class="editable-item")
                                                div(class="field")
                                                    button(class="edit-field edit-field-button")
                                                        span(class="ally-text")
                                                            | Edit headline
                                                        i(class="edit-field-icon")
                                                    p(class="title field-text")
                                                        | Software Engineer at Intuit
                                        div(id="location-container", data-li-template="location")
                                            div(id="location", class="editable-item")
                                                div(class="field")
                                                    button(class="edit-field edit-field-button")
                                                        span(class="ally-text")
                                                            | Edit location
                                                        i(class="edit-field-icon")
                                                    p(class="title field-text")
                                                        | Home: #5, 2nd Main, Hulimavu, Bangalore - 560068
                                        div(id="location-container", data-li-template="location")
                                            div(id="location", class="editable-item")
                                                div(class="field")
                                                    button(class="edit-field edit-field-button")
                                                        span(class="ally-text")
                                                            | Edit location
                                                        i(class="edit-field-icon")
                                                    p(class="title field-text")
                                                        | Work: Intuit, Building #8, Bellandur, Bangalore - 560103
                include personal_data
                include address_data