extends ../layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ../includes/navbar.jade
        div(class="row clearfix")
            div(id="profile")
                div(id="top-card", data-li-template="top_card")
                    div(class="profile-top-card top-card", tabindex="-1")
                        div(class="profile-card vcard entity", tabindex="0")
                            div(class="profile-picture")
                                img(src="#{user.profileImageUrl}", style="width:200px; height:200px;")
                            div(class="profile-overview")
                                div(class="profile-overview-content masthead")
                                    div(class="account-icons")
                                        div(id="badge-container" data-li-template="badge")
                                            div(id="badge" class="editable-item")
                                    div(data-li-template="p2_basic_info")
                                        div(id="name-container", data-li-template="name")
                                            div(id="name", class="editable-item")
                                                h1(class="field")
                                                    span(class="n fn field-text")
                                                        span(class="full-name")
                                                            | #{user.name}
                                    div(class="add-work-info")
                                        button(class="work-info-btn btn btn-default")
                                            |Add work info(+)
                                        
                div(id="recommended-sections")
                    div(class="recommended-sections-container", data-li-template="recommended_sections")
                        p(div="recommended-sections-headline")
                            em
                                |Add a section to your profile
                            | – get better recomendations for you best reads
                            div(id="background", class="profile-background my-profile")
                                include personal_data
                                include address_data