div(id="users", class="box-border")
    div(class="row users-list")
        div(class="row clearfix")
            - console.log("users--" + JSON.stringify(randomUsers))
            - if(randomUsers && randomUsers.length > 0){
                - var n = randomUsers.length
                - console.log("users--" + JSON.stringify(randomUsers))
                - var i = 0
                - while(i < n){
                    - var user_unit = randomUsers[i]
                    - if(i > 0 && i%2 == 0) {
                        div(class="row clearfix")
                    - }
                        div(class="col-md-6 column")
                            include user_unit
                    - i++
                - }
                -}
            - console.log("DOne")
