div(id="users", class="box-border")
    div(class="row users-list")
        div(class="row clearfix")
            - var n = users.length
            - var i = 0
            - while(i < n){
                - var user_unit = users[i]
                - if(i > 0 && i%2 == 0) {
                    div(class="row clearfix")
                - }
                    div(class="col-md-6 column")
                        include user_unit
                - i++
            - }
            - console.log("DOne")
