div(id="users", class="box-border")
    div(class="row users-list")
        div(class="row clearfix")
            - var n = users.length
            - var i = 0
            - while(i < n){
            - var user = users[i]
            - if(i > 0 && i%3 == 0) {
            div(class="row clearfix")
            - }
                div(class="col-md-4 column")
                    include ./search_user_unit
            -i++
            - }