div(class="ProfileCanopy ProfileCanopy--withNav ProfileCanopy--large")
    div(class="ProfileCanopy-header u-bgUserColor")
        div(class="ProfileCanopy-headerBg")
        div(class="AppContainer")
            div(class="ProfileCanopy-avatar")
                div(class="ProfileAvatar")
                    img(class="ProfileAvatar-image", src="#{ruser.profileImageUrl}")
    include ./profile_nav_bar
div(class="AppContainer clearfix margin80px")
    div(class="AppContent-main u-cf ", role="main")
        div(class="row clearfix")
            div(class="dashboard dashboard-left")
                div(class="Grid Grid--withGutter")
                    div(class="Grid-cell")
                        div(class="ProfileSidebar ProfileSidebar--withLeftAlignment")
                            div(class="ProfileHeaderCard")
                                h1(class="ProfileHeaderCard-name")
                                    a(class="ProfileHeaderCard-nameLink u-textInheritColor js-nav") #{ruser.name}
            div(class="content-main-full")
                - if(action === "timeline") {
                include ./show_user_timeline
                - } else if(action === "followers") {
                - }