div(class="feed-items")
    ul
        - const count = events.events.length
        - for(var i =0; i < count; i++) {
            - var feedItem = events.events[i];
            - console.log("redering feedItem --- > " + JSON.stringify(feedItem))
            include ../includes/feed_item
        -}