div(class="ProfileCanopy ProfileCanopy--withNav ProfileCanopy--large")
    div(class="ProfileCanopy-header u-bgUserColor")
        div(class="ProfileCanopy-headerBg")
        div(class="AppContainer")
            div(class="ProfileCanopy-avatar")
                div(class="ProfileAvatar")
                    img(class="ProfileAvatar-image", src="#{ruser.profileImageUrl}")
            div(class="ProfileCanopy-username")
                h2 #{ruser.name}
    - var user_unit = ruser          
    include ./profile_nav_bar
div(class="AppContainer clearfix margin80px")
    div(class="AppContent-main u-cf ", role="main")
        div(class="row clearfix")
            div(class="col-md-5 column")
                div(class="dashboard-full")
                    include ./dashboard/friends
                div(class="dashboard-full")
                    include ../book/dashboard/books  
            div(class="col-md-7 column")        
                div(class="content-main-full")
                    - if(action === "timeline") {
                    include ./show_user_timeline
                    - } else if(action === "followers") {
                    - }