/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
/*
 * Nib provides a CSS reset
 */


.book-image{
    width: 75px;
    height: 100px;
    
}

.sidebar {
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.nav-sidebar {
    width: 100%;
}

.mainImage {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    position: relative;
}

.mainImage .imgWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

.book-data{
    height: 200px;
    
}

#profile {
    width: 646px;
    word-wrap: break-word;
    margin: auto;
}


.engagement-action-container {
    clear: both;
    background-color: #ECECEC;
    border-top: 1px solid #CDCDCD;
    height: 35px;
}

#top-card {
    margin-bottom: 10px;
}

.profile-card .profile-picture {
    position: relative;
    z-index: 1;
    background: #f4f4f4;
    float: left;
    width: 200px;
    height: 200px;
    line-height: 198px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    clear: both;
}

.profile-card .profile-overview {
    position: relative;
    z-index: 6;
    float: right;
    width: 405px;
    word-wrap: break-word;
    padding: 0 20px 20px;
}

#profile #top-card .entity {
    margin-top: 0px;
    margin-bottom: 0px;
}

#profile .entity {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.entity {
    position: relative;
}
.is-focusable, .section, .entity, div[tabindex="-1"], ol[tabindex="-1"] {
    outline: 0;
}


.profile-card .profile-overview-content {
    min-height: 149px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.field {
    position: relative;
    display: table;
    cursor: pointer;
    margin-bottom: 4px;
}


.edit-field {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 5px;
}

.ally-text {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal;
}

.edit-field .edit-field-icon {
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.recommended-sections-container {
    margin-bottom: 10px;
}

.top-card {
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    position: relative;
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
}

.edit-field-button {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 8px;
    height: 19px;
    width: 19px;
    line-height: 15px;
    color: #505e69;

    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
    background-color: #ebebeb;
    border: 1px solid #cccfd3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s,background-color 0.2s;
    -moz-transition: opacity 0.2s,background-color 0.2s;
    -o-transition: opacity 0.2s,background-color 0.2s;
    transition: opacity 0.2s,background-color 0.2s;
}

#profile .entity {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}

.top-card #name .edit-field-button {
    height: 32px;
    width: 32px;
    line-height: 26px;
}

.top-card .editable-item {
    position: relative;
}

.recommended-sections-headline {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #434649;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #696c6f;
}

.masthead .editable-item {
    display: table;
}
#profile .profile-card h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
}

#top-card .entity {
    padding: 0;
    margin: 0;
}

.profile-card:after {
    content: "";
    display: table;
    clear: both;
}


.section-container {
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.section-container .section {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
}

ol, li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

#background-additional-info .personal-header {
    padding-right: 30px;
    color: #66696a;
}


#background-additional-info .section-item {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.is-focusable, .section, .entity, div[tabindex="-1"], ol[tabindex="-1"] {
    outline: 0;
}

.section-container .header {
    position: relative;
    font-size: 26px;
    line-height: 30px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 25px;
    color: #afb2b5;
    font-weight: lighter;
}

#my-books-navigation {
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    color: #333;
    height: 35px;
}

#my-books-search {
    list-style: none;
    text-align: right;
    display: block;
    width: 243px;
    float: right;
}

#my-books-search li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-right: 10px;
    position: relative;
    float: right;
    height: 35px;
    padding: 6px 0;
}

.field .field-text {
    display: inline-block;
    border: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5px;
    margin-right: -5px;
    max-width: 576px;
}

#background-additional-info .section-item {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}


#profile .section-container .header {
    margin-bottom: 0;
}

.gllpMap	{ width: 500px; height: 250px; }

.gllpLatlonPicker	{ margin: 20px 0; }

.engagement-card.engagement-sync-promo {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a:visited {
    color: #0073B2;
    text-decoration: none;
}
a:link {
    color: #0073B2;
    text-decoration: none;
}

.engagement-sync-promo>section.type-a {
    margin-right: 15px;
}

.engagement-sync-promo>section {
    background: #333;
    padding: 20px;
}

.engagement-body-left {
    float: left;
    height: 100px;
    width: 75px;
    position: relative;
    overflow: hidden;
}

.books-list {
    list-style: none;
    margin-bottom: 15px;
    margin-left: 30px;
}

.engagement-card {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -webkit-transition: opacity 0.4s linear,-webkit-transform 0.4s linear;
    -moz-transition: opacity 0.4s linear,-moz-transform 0.4s linear;
    -o-transition: opacity 0.4s linear,-o-transform 0.4s linear;
    transition: opacity 0.4s linear,transform 0.4s linear;
    float: left;
    background-color: white;
    width: 275px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
}

.engagement-card p {
    font-size:100%;
}

p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
