/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}

.sidebar {
    position: fixed;

    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;

    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.nav-sidebar {
    width: 100%;
}

#profile {
    float: left;
    width: 646px;
    word-wrap: break-word;
}

#top-card {
    margin-bottom: 10px;
}

.profile-card .profile-picture {
    position: relative;
    z-index: 1;
    background: #f4f4f4;
    float: left;
    width: 200px;
    height: 200px;
    line-height: 198px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.profile-card .profile-overview {
    position: relative;
    z-index: 6;
    float: right;
    width: 405px;
    word-wrap: break-word;
    padding: 0 20px 20px;
}

.profile-card .profile-overview-content {
    min-height: 149px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.top-card .editable-item {
    position: relative;
}

.masthead .editable-item {
    display: table;
}
#profile .profile-card h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
}
.field {
    position: relative;
    display: table;
    cursor: pointer;
    margin-bottom: 4px;
}

.top-card #name .edit-field-button {
    height: 32px;
    width: 32px;
    line-height: 26px;
}

.edit-field {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 5px;
}

.ally-text {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal;
}

.edit-field .edit-field-icon {
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.edit-field-button {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 8px;
    height: 19px;
    width: 19px;
    line-height: 15px;
    color: #505e69;

    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
    background-color: #ebebeb;
    border: 1px solid #cccfd3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s,background-color 0.2s;
    -moz-transition: opacity 0.2s,background-color 0.2s;
    -o-transition: opacity 0.2s,background-color 0.2s;
    transition: opacity 0.2s,background-color 0.2s;
}

p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
