div("book-data")
    -if(book.bookType === "WISH"){
        include ./actions/wishlistbook
    -} else if(book.bookType === "READ"){
        include ./actions/readbook
    - } else if(book.bookType==="OWNS") {
        include ./actions/ownsbook
    -}